/*------------------------------------*\
    color vars
\*------------------------------------*/
$red: #EB1268;
$orange: #E89D2F;
$green: #33D291;
$blue: #33ACFE;
$beige: #FAF8E9;
$darkBlue: #2670A3;
$darkGreen: #217350;
$lightBlue: #5DD3FF;
$lightGreen: #76E7C5;
$lightYellow: #FFFE9B;
$lightOrange: #FFD25E;
$lightRed: #FB3993;
$purple: #902CFF;
$darkPurple: #740EE6;
$lightPurple: #B879FF;
$white: #FFFFFF;