.messageBuble {
  max-width: 300px;
  padding: 16px 24px;
  border-radius: 16px 16px 16px 0;
  word-break: break-word;
  background-color: #FFFFFF;
}

.my {
  background-color: #D7F8F4;
  border-radius: 16px 16px 0 16px;
}